.layout-home header{
  /* 添加半透明背景色 */
  background-color: rgba(255, 255, 255, 0.23); 
}
.layout-home body{
  background-image: url('wallpapers/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
[data-theme="dark"].layout-home body{
  background-image: url('wallpapers/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
