.vp-tag-cc8e {
  --vp-tag-color: #6aa1b7;
  --vp-tag-hover-color: #5086a1;
  --vp-tag-bg: rgba(131, 208, 218, 0.314);
}
.vp-tag-wnwj {
  --vp-tag-color: #946300;
  --vp-tag-hover-color: #915930;
  --vp-tag-bg: rgba(234, 179, 8, 0.14);
}
.vp-tag-7ssk {
  --vp-tag-color: #fab10f;
  --vp-tag-hover-color: #f39c12;
  --vp-tag-bg: rgba(255, 213, 0, 0.14);
}
.vp-tag-4q2x {
  --vp-tag-color: #cc6699;
  --vp-tag-hover-color: #be3f7f;
  --vp-tag-bg: rgba(161, 54, 107, 0.14);
}
.vp-tag-397o {
  --vp-tag-color: #55aaee;
  --vp-tag-hover-color: #2391e9;
  --vp-tag-bg: rgba(21, 123, 206, 0.1333);
}
.vp-tag-laor {
  --vp-tag-color: #9933cc;
  --vp-tag-hover-color: #aa56d5;
  --vp-tag-bg: rgba(179, 102, 217, 0.2);
}
.vp-tag-qtu8 {
  --vp-tag-color: #cc9933;
  --vp-tag-hover-color: #be7f3f;
  --vp-tag-bg: rgba(161, 107, 54, 0.2);
}
.vp-tag-39wi {
  --vp-tag-color: #9966cc;
  --vp-tag-hover-color: #7171b8;
  --vp-tag-bg: rgba(83, 83, 167, 0.14);
}
.vp-tag-vs0z {
  --vp-tag-color: #66cccc;
  --vp-tag-hover-color: #3fbebe;
  --vp-tag-bg: rgba(54, 161, 161, 0.14);
}
.vp-tag-nzm1 {
  --vp-tag-color: #a6623b;
  --vp-tag-hover-color: #c17950;
  --vp-tag-bg: rgba(199, 134, 97, 0.2411);
}
.vp-tag-ee98 {
  --vp-tag-color: #8ecaef;
  --vp-tag-hover-color: #55afe7;
  --vp-tag-bg: rgba(42, 155, 225, 0.147);
}
